body{
    color: #3A2F2B;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.bg-hero{
    background-image: url(images/coming-soon.png);
    background-size: cover;
    background-position: center;
}

.button-submit {
    background: #d4a954;
    border: none!important;
    font-size: 1em;
    outline: none!important;
    padding: 0.8rem!important;
    width: 100%!important;
    color: white;
}

.myform{
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.button-submit:hover{
    background: #eeb33e;
}

@media screen and (max-width:990px) {
    .bg-hero{
        background-size: contain;
    }
    .myform{
        bottom: 30px;
    }
}


























